// Place all the styles related to the contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content_search {
	.form-control {
		margin: 1em 0 1em 1em;
	}
	.btn-primary {
		margin: 1em 0 1em 1em;
	}
	.card {
		margin-bottom: 1em;
	}
	.badge-primary {
		font-size: 1em;
		margin-bottom: 1em;
	}

}